@color-black-light: rgb(30, 30, 30);
@color-black-dark: rgb(5, 5, 5);
@color-black-box-shadow: rgba(10, 10, 10, 0.5);
@color-white-light: rgb(250, 250, 250);
@color-white-dark: rgb(190, 190, 190);
@color-white-box-shadow: rgba(250, 250, 250, 0.5);

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: rgb(106, 106, 106) @color-black-light;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

::selection {
    background: rgba(0, 80, 230, 0.3);
}

.hidden {
    display: none !important;
}

.zero-opacity {
    height: 0 !important;
    opacity: 0 !important;
}

// very small screen
@media all and (max-width:319.98px) {
    body {
        background-color: black;
    }
}

// mobile
@media all and (min-width:320px) and (max-width:991.98px) {}

// desktop
@media all and (min-width:992px) {
    #animate {
        position: fixed;
        background-color: @color-black-light;
        width: 100%;
        height: 100vh;
        bottom: 0;
        left: 0;
        font-size: 70px;
        z-index: 100;


        div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            font-weight: 600;
            margin: auto;
            animation: load 1000ms infinite 0s ease-in-out;
            animation-direction: alternate;
            color: @color-white-dark;
            text-shadow: 0 0 10px @color-black-light;

            @keyframes load {
                0% {
                    opacity: 1;
                }

                100% {
                    letter-spacing: 2px;
                    opacity: 0.08;
                    filter: blur(3px);
                }
            }
        }
    }

    #cookies-box {
        overflow: hidden;
        background-color: transparent;
        position: fixed;
        width: 100%;
        height: 200px;
        z-index: 100;
        bottom: 3%;

        div {
            background-color: @color-white-light;
            height: 170px;
            margin: 15px auto;
            padding: 20px 30px;
            border-radius: 4px;
            font-size: 20px;
            font-weight: 600;
            box-shadow: 0px 0px 10px @color-black-box-shadow;

            p {
                color: @color-black-light;
                text-align: center;

                a {
                    color: @color-black-dark;

                    &:hover {
                        color: @color-black-dark;
                    }
                }
            }

            #cookies-link {
                display: block;
                text-align: center;
                cursor: pointer;
                padding: 10px 45px;
                text-decoration: none;
                border-radius: 3px;
                color: @color-white-light;
                background-color: @color-black-light;
                border: 2px solid @color-black-light;
                transition: all 200ms ease 0s;

                &:hover {
                    color: @color-black-light;
                    background-color: @color-white-dark;
                    border: 2px solid @color-black-light;
                }
            }
        }
    }

    #navbar-pc {
        position: fixed;
        width: 100%;
        height: 90px;
        background-color: @color-black-light;
        display: flex;
        justify-content: space-evenly;
        box-shadow: 0px 0px 20px @color-black-box-shadow;
        z-index: 99;

        #first-box-navbar-pc {
            display: flex;
            justify-content: start;

            #icon-navbar-pc {
                margin-bottom: 0px;

                i {
                    cursor: pointer;
                    font-size: 30px;
                    line-height: 84px;
                    color: @color-white-dark;
                    margin: 0px 20px;
                    padding: 0px 5px;
                    transition: all 300ms ease 0s;

                    &:hover {
                        color: @color-white-light;
                    }
                }

            }

            #ul-navbar-pc {
                list-style: none;
                display: flex;
                justify-content: start;
                margin-bottom: 0px;

                li {
                    cursor: pointer;
                    font-weight: 500;
                    line-height: 84px;
                    font-size: 20px;
                    color: @color-white-dark;
                    margin: 0px 10px;
                    padding: 0px 10px;
                    transition: all 300ms ease 0s;

                    &:hover {
                        color: @color-white-light;
                    }
                }
            }
        }

        #last-box-navbar-pc {
            ul {
                list-style: none;
                display: flex;
                justify-content: start;
                margin-bottom: 0px;

                li {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 90px;
                    color: @color-white-dark;
                    padding: 0px 5px;
                    transition: all 300ms ease 0s;

                    &:first-child {
                        margin: 0px 20px 0px 0px;

                        i {
                            cursor: pointer;
                            padding: 15px 18px;
                            border-radius: 50%;
                            border: 2px solid transparent;
                            transition: all 300ms ease 0s;

                            &:hover {
                                border: 2px solid white;
                                color: @color-white-light;
                            }
                        }
                    }

                    &:last-child {
                        margin: 0px 20px 0px 0px;

                        a {
                            cursor: pointer;
                            padding: 10px 45px;
                            border-radius: 3px;
                            font-weight: 600;
                            color: @color-black-light;
                            border: 2px solid @color-white-dark;
                            text-decoration: none;
                            background-color: @color-white-dark;
                            transition: all 200ms ease 0s;

                            &:hover {
                                color: @color-white-light;
                                background-color: @color-black-light;

                            }
                        }
                    }


                }
            }
        }
    }

    #top-searchbox-pc {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 90px;
        backdrop-filter: brightness(80%) blur(1px);
        overflow: hidden;
        z-index: 98;
        transition: all 300ms ease-in 0s;

        div {
            width: 100%;
            overflow: hidden;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 0px 20px @color-black-box-shadow;
            background-color: @color-black-light;
            border-top: 1px solid @color-black-dark;
            transition: all 300ms ease 0s;

            input {
                background-color: @color-white-dark;
                width: 80%;
                margin: 0px auto;
                padding: 35px 30px;
                font-size: 35px;
                color: @color-black-light;
                border-radius: 10px;
                box-shadow: 0px 0px 5px @color-white-box-shadow;
                transition: all 300ms ease 0s;

                &:hover {
                    box-shadow: 0px 0px 10px @color-white-box-shadow;
                }

                &:focus {
                    box-shadow: 0px 0px 20px @color-white-box-shadow;
                }
            }
        }
    }

    #top-image {
        position: relative;

        img {
            filter: brightness(70%) contrast(105%);
            margin-top: 90px;
            width: 100%;
        }

        div {
            position: absolute;
            padding: 20px 20px;
            border: 1px solid rgba(190, 190, 190, 0.5);
            top: 45%;
            left: 50%;
            margin-left: -175.9px;
            border-radius: 10px;
            backdrop-filter: blur(4px) brightness(80%);
            font-size: 18px;
            box-shadow: 0px 0px 10px @color-black-box-shadow;

            h3 {
                color: @color-white-light;
            }

            p {
                font-size: 17px;
                color: @color-white-light;
                opacity: 0.8;
                text-align: center;
            }

            a {
                display: block;
                text-align: center;
                cursor: pointer;
                padding: 10px 45px;
                border-radius: 3px;
                font-weight: 600;
                color: @color-black-light;
                border: 2px solid @color-white-dark;
                text-decoration: none;
                background-color: @color-white-dark;
                transition: all 200ms ease 0s;

                &:hover {
                    color: @color-white-light;
                    background-color: @color-black-light;

                }
            }
        }
    }

    #free-game {
        background-color: @color-black-dark;
        padding: 40px 20px;

        h4 {
            font-size: 30px;
            text-align: center;
            color: @color-white-light;
        }

        #free-game-in {
            color: @color-white-light;
            display: flex;
            justify-content: space-evenly;

            .big-div-free-game {
                background-color: @color-black-light;
                border: 2px solid @color-black-light;
                cursor: pointer;
                border-radius: 15px;
                overflow: hidden;
                width: 29%;

                img {
                    width: 100%;
                    box-shadow: 0px 0px 10px @color-black-box-shadow;
                    transition: all 300ms ease 0s;
                }

                &:hover img {
                    filter: brightness(70%) contrast(105%);
                    scale: 1.03;
                    box-shadow: 0px 0px 20px @color-black-box-shadow;
                }

                .small-div-free-game {
                    padding: 20px 40px 0px 40px;

                    h3 {
                        font-size: 20px;
                        opacity: 0.8;
                    }

                    p {
                        font-size: 17px;
                        opacity: 0.6;
                    }
                }
            }
        }
    }

    #card-slider {
        background-color: @color-black-dark;
        position: relative;

        #card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            overflow: hidden;

            .card {
                text-align: center;
                background-color: @color-black-light;
                margin: 0px 10px;
                transition: all 300ms ease-in-out 0s;

                img {
                    width: 100%;
                    height: 200px;
                    // object-fit: cover;
                }

                h3 {
                    margin-top: 10px;
                    font-size: 20px;
                    font-weight: bold;
                }
            }

        }

        .arrow {
            position: absolute;
            bottom: 10px;
            width: 30px;
            height: 30px;
            color: black;
            font-size: 30px;
            cursor: pointer;
        }

        .left-arrow {
            left: 10px;
        }

        .right-arrow {
            right: 10px;
        }
    }

    #middle-box {
        background-color: @color-black-dark;
        display: flex;
        justify-content: flex-start;

        #middle-box-in {
            background-color: @color-black-light;
            border: 2px solid @color-black-box-shadow;
            // border-radius: 10px;
            // padding: 10px;
            margin: 20px auto;
            overflow: hidden;
            cursor: pointer;
            transition: all 250ms ease 0s;

            img {
                margin-right: 15px;
                float: left; 
                width: 800px;
                filter: saturate(0.2) brightness(60%);
                transition: all 250ms ease 0s;
            }

            &:hover {
                border: 2px solid @color-white-dark;
            }

            &:hover img {
                filter: saturate(0.7) brightness(95%);
            }

            h2,
            p {
                color: @color-white-light;
                margin-left: 15px;
                display: block;
                margin: 2px 0 0 0;
            }

        }
    }
}